<body>
    <a href="/">
        <button type="button">Back</button>
    </a> 
    
    <div class="form-container">
        <div class="form-header">
            <h3>Log In</h3>
        </div>
        
        <form action="/auth/login" method="POST">
            <div class="input-container">
                <input type="text" name="username" placeholder="username" required> 
                <input type="password" name="password" placeholder="password" required> 
                
                <div class="forgot-password">
                    <a href="#">Forgot password</a> 
                </div>    
                <div class="button-box">
                    <button class="submit" type="submit">LOG IN</button> 
                </div>  
            </div>
        </form>
        
        <div class="signup">
            Don't Have An Account? <a href="/register">Sign up</a>  
        </div>
    </div>
</body>